<%= render 'spree/admin/shared/payments_tabs' %>

<% admin_breadcrumb(Spree.t(:settings)) %>
<% admin_breadcrumb(plural_resource_name(Spree::Payment)) %>
<% admin_breadcrumb(link_to plural_resource_name(Spree::PaymentProvider), spree.admin_payment_providers_path) %>
<% admin_breadcrumb(Spree.t(:new_payment_provider)) %>

<%= render partial: 'spree/shared/error_messages', locals: { target: @payment_provider } %>

<%= form_for @payment_provider, url: collection_url do |f| %>
  <fieldset class="no-border-top">
    <%= render partial: 'form', locals: { f: f } %>
    <div data-hook="buttons" class="filter-actions actions">
      <%= button Spree.t('actions.create') %>
    </div>
  </fieldset>
<% end %>
