<thead>
  <tr class="carton-number-header">
    <th class="align-center" colspan="5">
      <span class="carton-number"><%= carton.number %></span>
      -
      <span class="carton-exchange"><%= Spree::Exchange.model_name.human if carton.any_exchanges? %></span>
      <%= t('spree.package_from') %>
      <strong class="stock-location-name" data-hook="stock-location-name">'<%= carton.stock_location.name %>'</strong>
    </th>
  </tr>
  <tr>
    <th></th>
    <th><%= Spree::InventoryUnit.model_name.human %></th>
    <th><%= Spree::LineItem.human_attribute_name(:price) %></th>
    <th><%= Spree::LineItem.human_attribute_name(:quantity) %></th>
    <th class="item-total"><%= Spree::LineItem.human_attribute_name(:total) %></th>
  </tr>
</thead>

<tbody data-hook="carton-details" data-carton-number="<%= carton.number %>" data-order-number="<%= order.number %>">
  <%= render 'spree/admin/orders/carton_manifest', carton: carton, order: order %>
</tbody>

<tfoot>
  <% if order.special_instructions.present? %>
    <tr class='special_instructions'>
      <td colspan="5">
        <strong><%= Spree::Order.human_attribute_name(:special_instructions) %>:&nbsp;</strong><%= order.special_instructions %>
      </td>
    </tr>
  <% end %>

  <% if carton.shipping_method != shipment.shipping_method %>
    <tr class="show-method total">
      <th><%= Spree::ShippingMethod.model_name.human %></th>
      <td colspan="4">
        <%= carton.shipping_method.name %>
      </td>
    </tr>
  <% end %>

  <tr class="show-tracking total">
    <th><%= Spree::Carton.human_attribute_name(:tracking) %></th>
    <td colspan="4" class="tracking-value">
      <% if carton.tracking.present? %>
        <%= link_to_if carton.tracking_url, carton.tracking, carton.tracking_url, target: '_blank' %>
      <% else %>
        <i><%= t('spree.no_tracking_present') %></i>
      <% end %>
    </td>
  </tr>

  <tr class='ship-date'>
    <th><%= Spree::Carton.human_attribute_name(:shipped_at) %></th>
    <td colspan="4">
      <%= pretty_time carton.shipped_at %>
    </td>
  </tr>

  <% if carton.orders.size > 1 %>
    <tr class='order-numbers'>
      <th><%= t('spree.carton_orders') %></th>
      <td colspan="4">
        <% (carton.orders - [order]).each do |order| %>
          <%= link_to order.number, edit_admin_order_path(order) %>
        <% end %>
      </td>
    </tr>
  <% end %>

  <% if carton.external_number.present? %>
    <tr class="external-number">
      <th><%= t('spree.carton_external_number') %></th>
      <td colspan="4">
        <%= carton.external_number %>
      </td>
    </tr>
  <% end %>
</tfoot>
